<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">JobPortal</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <!-- NOT LOGGED IN -->
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>

        <!-- CANDIDATE MENU -->
        <li class="nav-item" *ngIf="auth.getRole() === 'CANDIDATE'">
          <a class="nav-link" routerLink="/candidate-dashboard">Candidate Dashboard</a>
        </li>

        <!-- EMPLOYER MENU -->
        <li class="nav-item" *ngIf="auth.getRole() === 'EMPLOYER'">
          <a class="nav-link" routerLink="/employer-dashboard">Employer Dashboard</a>
        </li>

        <!-- ADMIN MENU -->
        <li class="nav-item" *ngIf="auth.getRole() === 'ADMIN'">
          <a class="nav-link" routerLink="/admin-dashboard">Admin Dashboard</a>
        </li>

        <!-- LOGOUT BUTTON -->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button class="btn btn-outline-danger btn-sm ms-3" (click)="logout()">Logout</button>
        </li>

      </ul>
    </div>
  </div>
</nav>
